# PlatformIO
.pio
.vscode/.browse.c_cpp.db*
.vscode/ipch

# Python
.venv/
__pycahce__/
*.pyc

# VS Code
.vscode/.history/
.vscode/settings.json.user
.vscode/tasks.json.user

# SO
.DS_Store
Thumbs.db

# Logs
*.log